name: publish

on:
  release:
    types:
      - created

jobs:
  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup python3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install poetry
        run: python -m pip install poetry

      - name: Install poem-plugins
        run: poetry self add poem-plugins

      - name: Install requirements
        run: poetry install

      - name: Publishing to pypi
        run: poetry publish --build --skip-existing --no-interaction
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
