name: tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Setup python3.14
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - run: uv sync
      - run: uv run ruff check .
        env:
          FORCE_COLOR: 1
      - run: uv run ruff format --check .
        env:
          FORCE_COLOR: 1
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Setup python3.14
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - run: uv sync
      - run: uv run mypy
        env:
          FORCE_COLOR: 1

  tests:
    runs-on: ubuntu-latest
    services:
      s3:
        image: docker://adobe/s3mock
        ports:
          - 9090:9090
        env:
          initialBuckets: test

    strategy:
      fail-fast: false

      matrix:
        python:
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Setup python${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python }}"

      - run: uv sync
      - run: >-
          uv run pytest \
            -vv \
            --cov=aiohttp_s3_client \
            --cov-report=term-missing \
            tests
        env:
          FORCE_COLOR: 1
          S3_URL: http://user:hackme@localhost:9090/test/

      - run: uv run coveralls
        env:
          COVERALLS_PARALLEL: 'true'
          COVERALLS_SERVICE_NAME: github
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  finish:
    needs: tests
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v1
      with:
        parallel-finished: true
        github-token: ${{ secrets.GITHUB_TOKEN }}
