name: tox

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:


    runs-on: ubuntu-latest

    strategy:
      matrix:
        linter:
          - lint
          - typecheck

    steps:
      - uses: actions/checkout@v2
      - name: tox ${{ matrix.linter }}
        uses: docker://snakepacker/python:all
        env:
          TOXENV: ${{ matrix.linter }}
        with:
          args: tox

  tests:
    needs: lint
    runs-on: ubuntu-latest

    services:
      s3:
        image: docker://adobe/s3mock
        ports:
          - 9090:9090
        env:
          initialBuckets: test

    strategy:
      fail-fast: false

      matrix:
        toxenv:
          - py37
          - py38
          - py39
          - py310
          - py311

    steps:
      - uses: actions/checkout@v2

      - name: tox ${{ matrix.toxenv }}
        uses: docker://snakepacker/python:all
        env:
          TOXENV: ${{ matrix.toxenv }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          S3_URL: http://user:hackme@s3:9090/test/
        with:
          args: tox
